* {
	background-repeat:no-repeat;
}

body {
	font-family: "Open Sans",sans-serif,Arial,Helvetica,sans-serif;
	min-width: 300px;
}

h1, h2, h3, h4, h5, h5, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
}

.container {
	@media screen and (min-width: $screen-md-min) {
		width: 950px;
	}
}

.col-sm-pad-l-0 {
	@media screen and (min-width: $screen-sm-min) {
		padding-left: 0;
	}	
}

.pull-right {
	float: right !important;
}