

.faux-submit {
    margin: 0 auto 5px;
    color: #FFF;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: auto;
    padding: 10px 10px 9px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 18px;

    span {
    	font-weight: normal;
		font-size: 13px;
		display: block;
		clear: both;
		padding-top: 2px;
    }
}

.faux-submit.btn-greyed, .btn-greyed {
    background-color: #DDD;
    background-image:none;
    border: 1px solid #DDD;
    color: #A1A1A1;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}