.content-info {

	.main {
		border-top: 1px solid #F2F2F2;
		padding-top: 20px;
		padding-bottom: 20px;

		@media screen and (max-width: $screen-xs-max) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.copy {
		float: none;
		margin: auto;
		display: table;
		font-size: 10px;
		color: #001748;
		@media screen and (min-width: $screen-sm-min) {
			float: right;

			margin-right: 10px;
		}
	}

	.footer-images {
		float: left;
		@media screen and (max-width: $screen-xs-max) {
			width: 100%;
			margin-bottom: 10px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.footer-links {
		margin-top: 10px;

		@media screen and (min-width: $screen-sm-min) {
				float: right;
				margin-top: 0;
				margin-bottom: 0;
			
		}
	}	

	.menu {
		display: table;
		margin-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		li {
			list-style:none;
			font-size: 10px;
			line-height: 10px;
			margin-bottom: 5px;
			float: left;
			border-left: 1px solid #001748;
			color: #001748;

			&:first-child {
				border-left: 0;
			}

			a{
				padding: 0px 10px;
			}
		}

		@media screen and (min-width: $screen-sm-min) {
			float: right;
		}

	}
 }
