// Content wrapper
.wrap { }

.s {
    background: url("../img/pss-original/sprite.png") repeat scroll 0% 0% transparent;
    display: block;
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
	&-landing {
		padding-top: 5px;
	}
}

.fill {
	padding-bottom: 40px;
	padding-top: 40px;

	&-image-landing {
		padding-top: 0;
	}
	
	@media screen and (min-width: $screen-sm-min) {
		&-overlap {
			position: relative;
		    top: -195px;
		    z-index: 15;
		}
	}
}

.course-search {
	background-color:$brand-primary;
	padding: 10px;

	label {
		color: #FFF;
	}
}

.e-learning-courses {
	background-color:#0086FF;
}

.search-table-cell {
	padding: 10px;
	position: relative;
	border-radius: 3px;
	@media screen and (max-width: $screen-sm-max) {
		margin-top: 30px;
	}

	.title {
		font-size: 27px;
		color: #FFF;
	}

	.e-learning-courses-content {
		color: #FFF;
		display: block;
		margin: 10px 0px 12px;
		line-height: 19px;
	}

	select {
		margin-bottom: 0px;
		color: #555;
	}
	
}

.col-set-5 {
	@media screen and (min-width: $screen-sm-min) {
		width: 20%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.homepage-locations {
	li {
		line-height: 24px;
	}
}

.cta {
	text-align: right;
	text-decoration: underline;
	float: right;
	margin: 0px;
	font-size: 11px;

	&:hover {
		text-decoration: none;
	}
}

.newtag {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 10;
    font-size: 12px;
    padding: 3px 6px;
    background: none repeat scroll 0% 0% #E21E1E;
    color: #FFF;
    text-transform: uppercase;
}