.gmap {
	@media screen and (min-width: $screen-sm-min) {
		margin-top: 90px;
	}
	margin-left: auto;
	margin-right: auto;
	display: block;

	img {
		max-width: 100%;
		height: auto;
	}
}

#contact-page {
	li .icon {
		background-position: -229px 0px;
		width: 22px;
		height: 16px;
	}

	li#phone .icon {
		background-position: -229px 0px;
	}

	li#fax .icon {
		background-position: -251px 0px;
	}

	li#address .icon {
		background-position: -229px -17px;
		width: 24px;
		height: 25px;

	}
	.text {
		position: relative;
		top: -22px;
		left: 35px;
		font-size: 15px;
		line-height: 25px;
	}

	li#address .text {
		top: -30px;
	}
}

#contact-form-wrap {
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background: url("../img/pss-original/background-contact.png") repeat scroll 0% 0% #F9F9F9;
    padding: 20px 20px 80px;
    @media screen and (max-width: $screen-xs) {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
    }
    border-radius: 3px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 40px;
    position: relative;

    br {
    	display: none;
    }

    .input-group {
    	margin-bottom: 5px;
    	position: relative;
    }
}